$primaryFont: "Work Sans", sans-serif;
@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin mediaMediumLarge {
  @media screen and (max-width: 992px) {
    @content;
  }
}

@mixin mediaMedium {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaMediumLow {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@mixin mediaSmall {
  @media screen and (max-width: 480px) {
    @content;
  }
}
